@{
    ViewData["Title"] = "Справочники";
}

<div>

    <li><a asp-area="" asp-controller="MilitaryDistricts" asp-action="Index">Военные округа</a></li>
    <li><a asp-area="" asp-controller="Regions" asp-action="Index">Области</a></li>
    <li><a asp-area="" asp-controller="Areas" asp-action="Index">Районы</a></li>
    <li><a asp-area="" asp-controller="Cities" asp-action="Index">Города</a></li>
    <li><a asp-area="" asp-controller="Nationalities" asp-action="Index">Национальности</a></li>
    <li><a asp-area="" asp-controller="SocialBackgrounds" asp-action="Index">Социальные происхождения</a></li>
    <li><a asp-area="" asp-controller="MaritalStatus" asp-action="Index">Семейные положения</a></li>
    <li><a asp-area="" asp-controller="Sexes" asp-action="Index">Полы</a></li>
    <li><a asp-area="" asp-controller="SocialStatus" asp-action="Index">Социальные статусы</a></li>
    <li><a asp-area="" asp-controller="FamilyTypes" asp-action="Index">Типы семьи</a></li>
    <li><a asp-area="" asp-controller="ParentTypes" asp-action="Index">Типы родителей</a></li>
    <li><a asp-area="" asp-controller="PreemptiveRights" asp-action="Index">Преимущественные права</a></li>
    <li><a asp-area="" asp-controller="FactOfProsecutions" asp-action="Index">Факты привлечения к ответственности</a></li>
    <li><a asp-area="" asp-controller="Specialities" asp-action="Index">Специальности</a></li>
    <li><a asp-area="" asp-controller="Subjects" asp-action="Index">Предметы</a></li>
    <li><a asp-area="" asp-controller="EducationTypes" asp-action="Index">Типы образования</a></li>
    <li><a asp-area="" asp-controller="EducationalInstitutions" asp-action="Index">Учебные заведения</a></li>
    <li><a asp-area="" asp-controller="Achievements" asp-action="Index">Виды достижений</a></li>
    <li><a asp-area="" asp-controller="TestTypes" asp-action="Index">Типы испытаний</a></li>
    <li><a asp-area="" asp-controller="EntranceExams" asp-action="Index">Экзамены для поступления</a></li>
    <li><a asp-area="" asp-controller="MilitaryRanks" asp-action="Index">Воинские звания</a></li>
    <li><a asp-area="" asp-controller="MilitaryServiceCategories" asp-action="Index">Категории воинской службы</a></li>
    <li><a asp-area="" asp-controller="MilitaryUnits" asp-action="Index">Войсковые части</a></li>
    <li><a asp-area="" asp-controller="Documents" asp-action="Index">Виды документов</a></li>
    <li><a asp-area="" asp-controller="ReasonForDeductions" asp-action="Index">Причины отчисления</a></li>

</div>
