@{
    ViewData["Title"] = "Справочники";
}
<div>
    <div class="row"><br /></div>
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xl-4">
            <div class="container">
                <div class="list-group-item tab-pane" style="background: rgb(134, 156, 178); width:30%">Зачисление </div>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="Achievements" asp-action="Index">Виды достижений</a>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="TestTypes" asp-action="Index">Типы испытаний</a>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="EntranceExams" asp-action="Index">Экзамены для поступления</a>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="PreemptiveRights" asp-action="Index">Преимущественные права</a>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="Documents" asp-action="Index">Виды документов</a>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="ReasonForDeductions" asp-action="Index">Причины отчисления</a>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="Specialities" asp-action="Index">Специальности</a>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="Subjects" asp-action="Index">Предметы</a>
            </div>
        </div>

        <div class="col-md-4 col-lg-4 col-xl-4">
            <div class="container">
                <div class="list-group-item tab-pane" style="background: rgb(134, 156, 178); width:30%">Характеристики абитуриента</div>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="Nationalities" asp-action="Index">Национальности</a>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="SocialBackgrounds" asp-action="Index">Социальные происхождения</a>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="Sexes" asp-action="Index">Полы</a>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="SocialStatus" asp-action="Index">Социальные статусы</a>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="MaritalStatus" asp-action="Index">Семейные положения</a>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="FamilyTypes" asp-action="Index">Типы семьи</a>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="ParentTypes" asp-action="Index">Типы родителей</a>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="FactOfProsecutions" asp-action="Index">Факты привлечения к ответственности</a>
            </div>
        </div>

        <div class="col-md-4 col-lg-4 col-xl-4">
            <div class="container">
                <div class="list-group-item tab-pane" style="background: rgb(134, 156, 178);  width:30%">Адреса</div>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="Regions" asp-action="Index">Области</a>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="Areas" asp-action="Index">Районы</a>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="Cities" asp-action="Index">Города</a>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4">
            <div class="container">
                <div class="list-group-item tab-pane" style="background: rgb(134, 156, 178);  width:30%">Военные</div>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="MilitaryRanks" asp-action="Index">Воинские звания</a>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="MilitaryServiceCategories" asp-action="Index">Категории воинской службы</a>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="MilitaryUnits" asp-action="Index">Войсковые части</a>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="MilitaryDistricts" asp-action="Index">Военные округа</a>
            </div>
        </div>

    </div>
    <div class="row"><br /></div>
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xl-4">
            <div class="container">
                <div class="list-group-item" style="background: rgb(134, 156, 178); width:30%">Образование</div>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="EducationTypes" asp-action="Index">Типы образования</a>
                <a class="list-group-item" style="width:30%" asp-area="" asp-controller="EducationalInstitutions" asp-action="Index">Учебные заведения</a>
            </div>
        </div>
    </div>
</div>
