@{
    ViewData["Title"] = "Справочники";
}

<div>

    <li><a asp-area="" asp-controller="MilitaryDistricts" asp-action="Index">Военные округа</a></li>
    <li><a asp-area="" asp-controller="Regions" asp-action="Index">Области</a></li>
    <li><a asp-area="" asp-controller="Areas" asp-action="Index">Районы</a></li>
    <li><a asp-area="" asp-controller="Cities" asp-action="Index">Города</a></li>
    <li><a asp-area="" asp-controller="Nationalities" asp-action="Index">Национальности</a></li>
    <li><a asp-area="" asp-controller="MaritalStatus" asp-action="Index">Семейные положения</a></li>
    <li><a asp-area="" asp-controller="Sexes" asp-action="Index">Полы</a></li>
    <li><a asp-area="" asp-controller="SocialStatus" asp-action="Index">Социальные статусы</a></li>
    <li><a asp-area="" asp-controller="FamilyTypes" asp-action="Index">Типы семьи</a></li>
    <li><a asp-area="" asp-controller="EducationalInstitutions" asp-action="Index">Учебные заведения</a></li>

</div>
