@{
    ViewData["Title"] = "Справочники";
}
<div class="row"><br /></div>
<div class="list-group">
    <a class="list-group-item" style="width:30%" asp-area="" asp-controller="AppConfigs" asp-action="Index">Настройки приложения</a>
    <a class="list-group-item" style="width:30%" asp-area="" asp-controller="AdminUnit" asp-action="DirectoryLib">Справочники</a>

    <a class="list-group-item" style="width:30%" asp-area="" asp-controller="Account" asp-action="Register">Регистрация нового пользователя</a>
    <a class="list-group-item" style="width:30%" asp-area="" asp-controller="Roles" asp-action="UserList">Настройка ролей пользователей</a>
    <a class="list-group-item" style="width:30%" asp-area="" asp-controller="Roles" asp-action="Index">Настройка ролей</a>
    <a class="list-group-item" style="width:30%" asp-area="" asp-controller="Pochtas" asp-action="Index">Импорт адресов почты РФ</a>
    

</div>
