@{
    ViewData["Title"] = "Справочники";
}

<div>
    <li><a asp-area="" asp-controller="AppConfigs" asp-action="Index">Настройки приложения</a></li>
    <li><a asp-area="" asp-controller="AdminUnit" asp-action="DirectoryLib">Справочники</a></li>

    <li><a asp-area="" asp-controller="Account" asp-action="Register">Регистрация нового пользователя</a></li>
    <li><a asp-area="" asp-controller="Roles" asp-action="UserList">Настройка ролей пользователей</a></li>
    <li><a asp-area="" asp-controller="Roles" asp-action="Index">Настройка ролей</a></li>
    <li><a asp-area="" asp-controller="Pochtas" asp-action="Index">Адреса почты РФ</a></li>
    

</div>
