@model test.FactOfProsecution

@{
    ViewData["Title"] = "Изменения";
}

<h4>Факт привлечения к отвественности</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdFactOfProsecution" />
            <div class="form-group">
                <label asp-for="NameFactOfProsecution" class="control-label"></label>
                <input asp-for="NameFactOfProsecution" class="form-control" />
                <span asp-validation-for="NameFactOfProsecution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
