@{
    ViewData["Title"] = "Разработчики";
}
<h2>@ViewData["Title"]</h2>


<p>Мария Пересыпкина UX\UI-дизайнер</p>
<p>Майя Долматова UX\UI-дизайнер</p>
<p>Андрей Болдырев Инженер базы данных</p>
<p>Елена Здоровцова Адаптация и настройка</p>
<p>Алексей Уханов </p>
<p>Владислав Колодяжный Architect</p>

