@{
    ViewData["Title"] = "Справочники";
}

<div >

    <li><a asp-area="" asp-controller="MilitaryDistricts" asp-action="Index">Военный округ</a></li>
    <li><a asp-area="" asp-controller="Regions" asp-action="Index">Область</a></li>
    <li><a asp-area="" asp-controller="Areas" asp-action="Index">Район</a></li>
    <li><a asp-area="" asp-controller="Cities" asp-action="Index">Города</a></li>
    <li><a asp-area="" asp-controller="Nationalities" asp-action="Index">Национальности</a></li>
    <li><a asp-area="" asp-controller="MaritalStatus" asp-action="Index">Семейное положение</a></li>
    <li><a asp-area="" asp-controller="Sexes" asp-action="Index">Пол</a></li>
    <li><a asp-area="" asp-controller="SocialStatus" asp-action="Index">Социальный статус</a></li>
    <li><a asp-area="" asp-controller="FamilyTypes" asp-action="Index">Тип семьи</a></li>


</div>
