@model test.Views.Roles.ResetPasswordUserViewModel
<h2>Изменения пароля для пользователя @Model.Email</h2>

<form asp-action="ResetPasswordUser" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label">Новый пароль</label>
        <input type="text" asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword"></span>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>