@model test.FamilyType

@{
    ViewData["Title"] = "Удаление записи";
}

<h3>Вы хотите удалить данную запись?</h3>
<div>
    <h4>Тип семьи</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameFamilyType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameFamilyType)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdFamilyType" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
