@model test.EducationalInstitution

@{
    ViewData["Title"] = "Удаление записи";
}


<h3>Вы хотите удалить данную запись?</h3>
<div>
    <h4>Учебное заведение</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameEducationalInstitution)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameEducationalInstitution)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdTownNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdTownNavigation.NameCity)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdEducationalInstitution" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
